.sauce_and_main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: overlay;
}

@-moz-document url-prefix() {
  .sauce_and_main {
    overflow-y: scroll;
    scrollbar-color: #8585AD #2F2F37;
    scrollbar-width: thin;
  }
}

.sauce_and_main::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.sauce_and_main::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.item {
  display: flex;
  align-items: center;
}

.empty_block {
  display: flex;
  width: 100%;
  border: 3px #8484897f dashed;
  width: 584px;
  min-height: 284px;
  justify-content: center;
  align-items: center;
}

.empty_bun_block {
  display: flex;
  width: 100%;
  border: 3px #8484897f dashed;
  width: 584px;
  min-height: 80px;
  justify-content: center;
  align-items: center;
}
