.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 64px;
}

.button {
   opacity: 1;
transition: opacity 0.4s;
}

.button:hover {
   opacity: 0.6
}