.container {
  padding-top: 16px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  padding: 0px 40px 20px;
}

.ingredients_box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.image_container {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-color: transparent;
  border-style: solid;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(19, 19, 22, 1), rgba(19, 19, 22, 1)),
    linear-gradient(to top right, rgba(128, 26, 178, 1), rgba(76, 76, 255, 1));
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 50%;
  transition: opacity 0.4s ease;
}

.image {
  object-fit: cover;
  width: 112px;
  height: 56px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 16px;
}

.cost {
  display: flex;
  gap: 9px;
}

.ingredient {
  display: flex;
  gap: 16px;
  align-items: center;
}
