.containerIngredients {
   display: flex;
   flex-direction: column;
   overflow-y: overlay;
   position: relative;
   height: 65vh;
   max-width: 600px;
   width: 100%;
   box-sizing: border-box;

}

@-moz-document url-prefix() {
   .containerIngredients {
      overflow-y: scroll;
      scrollbar-color: #8585AD #2F2F37;
      scrollbar-width: thin;
   }
}

.containerIngredients::-webkit-scrollbar {
   width: 8px;
   background-color: #2F2F37;
}

.containerIngredients::-webkit-scrollbar-thumb {
   background-color: #8585AD;
}

.ingredients_section {
   display: flex;
   flex-wrap: wrap;
}