.image_container {
  width: 64px;
  height: 64px;
  margin-left: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-color: transparent;
  border-style: solid;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(19, 19, 22, 1), rgba(19, 19, 22, 1)),
    linear-gradient(to top right, rgba(128, 26, 178, 1), rgba(76, 76, 255, 1));
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 50%;
}

.image {
  object-fit: cover;
  width: 112px;
  height: 56px;
}

.count {
  position: absolute;
}
