.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1C1C21;
}

.header__container {
  display: flex;
  position: relative;
  max-width: 1280px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__links {
  display: flex;
}

.header__link {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #F2F2F3;
  cursor: pointer;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s;
}


.header__link:hover {
  opacity: 0.7;
}

.header__logo {
  position: absolute;
  left: calc(50% - 145px);
}
